<!--The content below is only a placeholder and can be replaced.-->
<div class="navigation col-lg-12">

  <div class="navbar navbar-default">
    <div class="container-fluid">
          <div class="navbar-header">
            <a  routerLink="/home">{{title}}</a>
          </div>
          <ul class="nav navbar-nav">
            <li>
              <a routerLinkActive="active" routerLink="/home">Home</a>
            </li>
            <li>
              <a routerLinkActive="active" routerLink="/animal">Animal</a>
            </li>
            <li>
              <a [routerLinkActive]="['active']" [routerLink]="['/keeper']">Keeper</a>
            </li>
            <li>
              <a [routerLinkActive]="['active']" routerLink="/tienda">Shop</a>
            </li>
            <li>
              <a [routerLinkActive]="['active']" routerLink="/contact">contact</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right" *ngIf="!identity">
            <li>
              <a [routerLinkActive]="['active']" routerLink="/register">Registro</a>
            </li>
            <li>
              <a [routerLinkActive]="['active']" routerLink="/login">Login</a>
            </li>
          </ul>

         <ul class="nav navbar-nav navbar-right" *ngIf="identity">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{identity.message.name}} <span class="caret"></span> </a>
            <ul class="dropdown-menu">
              <li>
                <a href="#">Mis datos</a>
                <a href="#" (click)="logout()" >Salir</a>
              </li>
            </ul>
          </li>

        </ul>
    </div>
  </div>

</div>
<div class="col-lg-11">
  <router-outlet></router-outlet>
</div>


