<div class="col-lg-6">
  <h1>{{title}}</h1>
  <div class="alert alert-success"  ngif="status == 'success">
    se ha actualizado la información correctamente
  </div>
  <div class="alert alert-danger"  ngif="status == 'error">
    Error al tratar de actualizar
  </div>
  <form #userEditForm="ngForm" (ngSubmit)="onSubmit()" class="col-lg-10">
    <div>
      <label for="nombre">Nombre</label>
      <input type="text"
             id="nombre"
             name="name"
             class="form-control"
             #name="ngModel"
             [(ngModel)]="user.name"
             required>
      <div *ngIf="!name.valid && name.touched">
        El nombre es obligatorio
      </div>
    </div>
    <div>
      <label for="surname">Apellidos</label>
      <input type="text"
             id="surname"
             name="surname"
             class="form-control"
             #surname="ngModel"
             [(ngModel)]="user.surname"
             required>
      <div *ngIf="!surname.valid && surname.touched">
        El Apellido es obligatorio
      </div>
    </div>
    <div>
      <label for="email">Correo electrónico</label>
      <input type="email"
             id="email"
             name="email"
             #email="ngModel"
             [(ngModel)]="user.email"
             class="form-control"
             required>
      <div *ngIf="!email.valid && email.touched">
        El correo es obligatorio
      </div>
    </div>
    <div>
      <label for="image_user">Foto Perfil</label>
      <input type="file"
             placeholder="subir imagen"
             id="image_user"
             (change)="fileChangeEvent($event);">

    </div>
    <div>
      <input type="submit" value="Registrarse" class="btn btn-primary" [disabled]="!userEditForm.form.valid">
    </div>

  </form>

</div>
